<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Detalhes - Pokédex</title>

		<link
			rel="shortcut icon"
			href="assets/favicon.svg"
			type="image/x-icon"
		/>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
	</head>

	<body>
		<section class="hero-section"></section>
		<div class="wrapper">
			<div>
				<button
					class="btn-back-home"
					id="btn-back-home"
				>
					<span class="material-symbols-outlined"> arrow_back </span>
					Voltar
				</button>
			</div>
			<main>
				<div class="main-container">
					<img
						class="pokemon-img"
						id="pokemon-img"
						src=""
					/>

					<div class="content">
						<span class="id"
							>ID:
							<span
								class="id-number"
								id="id-number"
							></span
						></span>
						<h2
							class="pokemon-name"
							id="pokemon-name"
						></h2>
					</div>
					<div class="pokemon-altura-peso">
						<div class="altura-container">
							<span class="label">Altura</span>
							<span
								class="height"
								id="height-number"
							></span>
						</div>
						<div class="peso-container">
							<span class="label">Peso</span>
							<span
								class="weight"
								id="weight-number"
							></span>
						</div>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>
